<div>
    <div id="sidebar">
    <h2>Main Menu</h2>
    <div id="classes">
        <ul id="api-classes" class="nav nav-list">
            <li><a href="{{projectRoot}}classes/p5.game.html">Core functions</a></li>
            <li><a href="{{projectRoot}}classes/Sprite.html">Sprite</a></li>
            <li><a href="{{projectRoot}}classes/SpriteSheet.html">SpriteSheet</a></li>
            <li><a href="{{projectRoot}}classes/Animation.html">Animation</a></li>
            <li><a href="{{projectRoot}}classes/Group.html">Group</a></li>
            <li><a href="{{projectRoot}}classes/Camera.html">Camera</a></li>
        </ul>
    </div>
    </div>
</div>
